* {
  box-sizing: border-box;
}

.app-header {
  width: 100%;
  padding: 20px 0;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;

  h1 {
    flex-shrink: 0;
  }

  .container {
    flex: 1;
    width: 100%;
    padding: 20px 0;
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
